<!-- STYLING THE OLD WAY -->

<!-- emmet html:5 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- SET UP DEVELOPER ENVIRONMENT -->
  <script src="https://unpkg.com/react@15.5.4/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.5.4/dist/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <link rel="stylesheet" href="main.css">
  <!-- Title Lesson -->
  <title>ES6 Class Component</title>
</head>
<body>
  <div id="app">React Not Yet Rendered</div>

  <script type="text/babel">
    // set up developer environemnt

    // When do we use class to create a Component and when do we use Statless
    // General rules - we'll focus more on the use cases later. The items that we will
      // create with Class today are not the typical cases when you would use classes to create
      //

    // use the class keyword...this comes from es6 and is using syntactice sure for
      // javascript objects
    // we'll then name

    class Shapes extends React.Component {
      render() {
        return (
          <div>
            <h1>Cirlce, Square, Rectangle, Triangle, PacMan</h1>
          </div>
        );
      }
    }

    // Mastery Assignment
    // Create 3 more components with es6 classes
    // Provide an h2 tag with the content
    // Provide a p tag with the content
    // Provide a h1 tag with the content

    class Circle extends React.Component {
      render() {
        return (
            <h1 id="circle">Circle</h1>
        );
      }
    }

    class Square extends React.Component {
      render() {
        return (
            <h1 id="square">Square</h1>
        );
      }
    }

    class Rectangle extends React.Component {
      render() {
        return (
            <h1 id="rectangle">Rectangle</h1>
        );
      }
    }

    class Triangle extends React.Component {
      render() {
        return (
            <h1 id="triangle">Triangle</h1>
        );
      }
    }

    class PacMan extends React.Component {
      render() {
        return (
            <h1 id="pacman">PacMan</h1>
        );
      }
    }


    ReactDOM.render(
      <div>
        <Circle/>
        <Square/>
        <Rectangle/>
        <Triangle/>
        <PacMan/>
      </div>,
      document.getElementById("app")
    );

  </script>

</body>
</html>
